@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* -----------------------------------------
----------------------Mixins-----------------
-------------------------------------------- */
/*** LAYOUT ***/
main {
  display: flex;
  flex-direction: column;
}

.nav-path li {
  display: inline-block;
}

.contact-message h2 {
  padding: 25px 15px;
}

.contact-form-container, .contact-bottom, .contact-dtls-section, .contact-bottom form, .form-group, .input-group {
  display: flex;
  flex-direction: column;
}

.contact-top {
  padding-top: 40px;
}
.contact-top .hours strong {
  padding: 10px 0;
}
.contact-top #question {
  margin-bottom: 15px;
}

.contact-bottom input, .contact-bottom label, .contact-bottom textarea {
  margin: 5px 15px;
}
.contact-bottom label {
  font-weight: 600;
}
.contact-bottom textarea, .contact-bottom input {
  border-radius: 2px;
  box-shadow: inset 0px 2px 6px -5px darkgrey;
}
.contact-bottom input {
  height: 47px;
}
.contact-bottom textarea {
  height: 100px;
}
.contact-bottom .message-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-bottom .privacy-dec {
  display: flex;
}
.contact-bottom #marketing-confirm {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
.contact-bottom .btn {
  margin: auto auto auto 15px;
}
.contact-bottom .privacy-text p {
  padding-left: 0;
}

.map-cards {
  padding-top: 20px;
}
.map-cards .card {
  width: auto;
  padding-bottom: 20px;
  margin-top: 30px;
}

/*** STYLES ***/
.nav-history {
  border-top: 1px solid #333645;
  box-shadow: 0 30px 30px 10px #f0f0f0;
}

.nav-path {
  font-size: 0.8em;
  padding: 11px 15px;
}
.nav-path li:first-of-type::after {
  content: "/";
  margin: auto 5px;
}

.contact-message {
  background-color: #333645;
  color: white;
}
.contact-message h2 {
  font-size: 2.2em;
  text-transform: none;
}

.contact-dtls-section {
  padding: 15px;
}
.contact-dtls-section strong:first-of-type {
  margin-bottom: 10px;
}
.contact-dtls-section:nth-of-type(2) a {
  font-size: 1.6em;
}
.contact-dtls-section a {
  font-size: 2em;
  color: #926fb1;
  font-weight: 600;
}
.contact-dtls-section a:hover {
  text-decoration: underline;
}

.contact-bottom h2 {
  color: #926fb1;
}
.contact-bottom textarea {
  border: 1px #c0c0c0 solid;
  padding: 5px 15px;
}
.contact-bottom button {
  background-color: #333645;
}
.contact-bottom button:hover {
  background-color: #282b36;
}
.contact-bottom input, .contact-bottom textarea {
  font-family: Poppins;
  font-size: 0.875em;
}
.contact-bottom textarea:focus, .contact-bottom input:focus {
  box-shadow: 0px 0px 6px 0px #14a2c4;
}
.contact-bottom input {
  padding: 5px 15px;
}
.contact-bottom .privacy-text a {
  text-decoration: underline;
}

.required::after {
  content: "*";
  color: #d24d57;
  margin-left: 5px;
}

.question {
  font-size: 1em;
}

.map-cards .card:hover {
  background-color: #926fb1;
}
.map-cards .card:hover .circle {
  background-color: #333645;
}

.tooltip-error {
  color: lightcoral;
  display: inline-block;
  padding: 0 0 15px 15px;
}

/*** Fix accordion dropdown styles ***/
.ex_row_frame {
  box-shadow: none;
}

.ex_container {
  background-color: transparent;
}

.det_pad {
  padding: 0;
}

.ex_svg_cont {
  left: 210px;
  right: auto;
  padding: 0;
  color: black;
}

.ex_row_frame::before {
  content: none;
}

.ex_row_frame[aria-expanded=true] {
  margin: 0;
}

.ex_hdr_cont {
  padding: 0 15px;
}

.ex_head {
  flex-basis: 100%;
  font-weight: 600;
}
.ex_head:hover {
  text-decoration: underline;
}

.svg_style {
  font-size: 28px;
}

/*** Media Queries ***/
@media (min-width: 768px) {
  .nav-path, .contact-message h2, .contact-top, .contact-bottom {
    width: 750px;
  }

  .nav-history, .contact-message {
    display: flex;
  }

  .contact-top, .contact-bottom, .contact-message h2, .nav-path {
    margin: auto;
  }

  .map-cards {
    display: flex;
    width: 750px;
    flex-direction: row;
    margin: auto;
  }
  .map-cards .card {
    width: 345px;
  }
}
@media (min-width: 992px) {
  .nav-path, .contact-message h2, .contact-top, .contact-bottom {
    width: 970px;
  }

  .contact-top {
    padding-top: 0;
  }

  .contact-message {
    padding-top: 35px;
    background-color: white;
    box-shadow: inset 0px 18px 18px 0px #f0f0f0;
  }
  .contact-message h2 {
    color: #333645;
  }

  .contact-bottom form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-group {
    width: 485px;
  }

  .map-cards {
    width: 970px;
  }
  .map-cards .card {
    width: 455px;
  }
}
@media (min-width: 1260px) {
  .nav-path, .contact-message h2 {
    width: 1200px;
  }

  .contact-message {
    padding-top: auto;
  }

  .contact-top {
    width: 400px;
  }

  .form-group {
    width: 800px;
    flex-direction: row;
  }

  .contact-bottom {
    width: 800px;
    margin: 0 auto;
  }
  .contact-bottom form {
    flex-direction: column;
  }

  .contact-top {
    margin: 0 auto;
    padding-top: 0;
  }

  .typograph p {
    font-size: 16px;
  }

  .contact-form-container {
    margin: auto;
    flex-direction: row-reverse;
    width: 1200px;
  }

  .map-cards {
    width: 1200px;
  }
  .map-cards .card {
    width: 600px;
  }

  .input-group {
    width: 50%;
  }
}

/*# sourceMappingURL=contact-page-styles.css.map */
