/* ------ header layout ------*/

header {
    padding-top: 15px;
    width: 100%; 
    background-color: $header-bg;
    height: 169px; 
    //position: static;
    //transition: position 1s ease 1s;
    top: 0;
    right: 0;
} 
.header-top-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
}
.header-row {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
} 
.logo {
    max-width: 100%;
    margin: 2.5px 7.5px auto 0;
}
#header-phone {
    margin: 25px 20px auto auto;
        &:hover {
            border-bottom: 1px solid $dark-bg;
        }
}
.hidden-header-content-lg {
    display: flex;
    margin-left: 67px;
}

.nav-bar-grid {
    padding: 0 15px;
}
.nav-bar-ul {
    width: 1170px;
    padding: 0;
    display: flex;
    border-left: 1px lighten($dark-bg, 10%) solid;
    border-right: 1px darken($dark-bg, 5%) solid;
}
li.main-nav {
    border-right: 1px lighten($dark-bg, 10%) solid;
    border-left: 1px darken($dark-bg, 5%) solid;
    &:hover svg {
        fill: $light-text;
    }
}
.nav-container {
    margin-top: 5px;
    display: none;
    background-color: $dark-bg;
    height: 96px;
    border-bottom: 0.2px solid darken($shadow, 30%);
    position: relative;
}
    a.main-nav {
    padding-bottom: 15px;
    padding-top: 10px;
    height: 95px;
    // border-left: $brdr 1px solid;
    // border-right: $brdr 0.5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
        height: 23px;
        width: 23px;
    }
    .bi-grid-3x3-gap-fill {
        width: 19px;
    }
    h5 {
        padding-bottom: 1px;
    }
    h4 {
        padding: 0px;
    }
}

.hide-nav {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 3;
    left: 0px;
    padding: 0 20px;
    bottom: -42px;
     ul li {
        padding: 0 0 0 20px;
        display: inline;
        &::after {
            content: "-";
            padding-left: 20px;
        }
        &:last-of-type::after {
            content: "";
            padding: 0;
        }
        &:first-of-type {
            padding-left: 0;
        }
    }
    // .sub-nav-content {
    //     ul li {
    //         padding-left: 0 ;
    //     }
    
}

.sub-nav-content {
    margin: 0 auto;
    // a:first-of-type li {
    //     padding-left: 0;
    // }
}

@for $i from 1 through 6 {
    .main-nav-#{$i}:hover .hide-nav-#{$i} {
        display: flex;
    }
}

.shy-header {
    width: 100%;
    position: static;
    top: 0;
    right: 0;
    z-index: 1;
    // -webkit-transition: right 0.5s ease, transform 0.5s ease;
    // transition: right 0.5s ease, transform 0.5s ease;
    // transform: translate3d(0, 0, 0);
  }
  .shy-container {
    height: 169px;
  }
.sticky-header {
    display: none;
    position: fixed;
    z-index: 30;
    top: 0;
    box-shadow: 0 5px 35px rgba(0,0,0,.1);
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    -ms-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
    margin-right: 17px;
    padding-left: 17px;
    .header-top-container {
        width: 100%;
    }
}
/* Animation properties */
.animate__animated.animate__slideInDown {
   --animate-duration: 0.25s; 
}
